In [74]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.preprocessing import LabelEncoder

In [143]:
# PREPROCESSING #

# Read the csv
df = pd.read_csv('student-mat_modified.csv', index_col=0)

# transform categorical columns into one hot encodings
# first separate the categorical and numeric variables
categorical_df = df.select_dtypes(include=['object'])

# get numeric data into a separate dataframe
numeric_df = df.select_dtypes(exclude=['object'])

# Separate performance into separate dataframe before working on categorical data
performance = df.Performance

# Remove performance from categorical
categorical_df.drop(columns=['Performance'], inplace=True)

# Convert into dummy variables
dummies = pd.get_dummies(categorical_df)

df = pd.concat([numeric_df, dummies, performance], axis=1)
df['Performance'].replace(['Low', 'Normal', 'High'], [0, 1, 2], inplace=True)
df

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes,Performance
0,18,4,4,2,2,0,4,3,4,1,...,0,0,1,0,1,1,0,1,0,0
1,17,1,1,1,2,0,5,3,3,1,...,0,1,0,0,1,0,1,1,0,0
2,15,1,1,1,2,3,4,3,2,2,...,0,0,1,0,1,0,1,1,0,1
3,15,4,2,1,3,0,3,2,2,1,...,1,0,1,0,1,0,1,0,1,2
4,16,3,3,1,2,0,4,3,2,1,...,0,0,1,0,1,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,20,2,2,1,2,2,5,5,4,4,...,0,0,1,0,1,1,0,1,0,1
391,17,3,1,2,1,0,2,4,5,3,...,0,1,0,0,1,0,1,1,0,2
392,21,1,1,1,1,3,5,5,3,3,...,0,1,0,0,1,1,0,1,0,0
393,18,3,2,3,1,0,4,4,1,3,...,0,1,0,0,1,0,1,1,0,1
394,19,1,1,1,1,0,3,2,3,3,...,0,0,1,0,1,0,1,1,0,1

In [145]:
# See correlations between the performance of a student and the categorical variables
correlations = df.corr().abs()['Performance'].sort_values(ascending=False)
correlations

Performance          1.000000
failures             0.337476
Medu                 0.206765
higher_no            0.173215
higher_yes           0.173215
goout                0.161294
Fedu                 0.161108
schoolsup_no         0.155479
schoolsup_yes        0.155479
age                  0.151199
Mjob_health          0.135820
address_U            0.130995
address_R            0.130995
studytime            0.106561
Mjob_other           0.106108
traveltime           0.104555
reason_course        0.100616
internet_no          0.096271
internet_yes         0.096271
Walc                 0.093821
reason_reputation    0.092132
guardian_other       0.089194
Fjob_teacher         0.087234
romantic_no          0.082074
romantic_yes         0.082074
health               0.074117
sex_M                0.068119
sex_F                0.068119
Mjob_at_home         0.068111
paid_no              0.064543
paid_yes             0.064543
Mjob_teacher         0.063075
famsize_GT3          0.063072
famsize_LE3          0.063072
absences             0.062375
famsup_yes           0.059596
famsup_no            0.059596
Fjob_other           0.059444
Dalc                 0.059369
nursery_yes          0.056976
nursery_no           0.056976
guardian_father      0.050467
school_GP            0.045188
school_MS            0.045188
Fjob_health          0.042530
activities_yes       0.041353
activities_no        0.041353
reason_other         0.038624
Mjob_services        0.033473
Pstatus_T            0.032462
Pstatus_A            0.032462
famrel               0.031857
Fjob_at_home         0.023134
freetime             0.019345
Fjob_services        0.015834
reason_home          0.007427
guardian_mother      0.006859
Name: Performance, dtype: float64